
#page-wrapper {
	padding: 0;
}





// Hero Block
.hero-block {
	* {
		height: 100%;
	}
	.row {
		
		.col-12 {

			.hero-block-inner {

				.hero-bg {
					

					.hero-bg-title {											

						> * {
							width: 100%;
							height: 100%;
							display: flex;
							align-items: center;
							
						}

					}
				}

				.hero-img {
					width: 100%;

					.hero-img-title {
						> * {
							width: 100%;
							height: 100%;
							display: flex;
							align-items: center;
							
						}
					}

				}

				.hero-img-slider-container {
					.hero-slider {
						.hero-slider-item {
							.container {								
								.hero-slider-item-title {
									> * {
									display: flex;
									align-items: center;
									}
								}
							}
						}
					}
				}

			}
			
		}
	}
}

// Text Block
.text-block-container {
	.row {
		.col-12 {
			.text-block-content {
				padding: 40px 0;				
			}
		}
	}
}

// Form Block
.form-block-container {
	.row {
		.col-12 {
			.form-block-form {
				padding: 40px 0;
				

				> div {
					> form {

						text-align: center;				
						
						ul {
							list-style: none;
						}
					} 
				}
			}
		}
	}
}

// Image Block
.image-block-container {
	.row {
		.col-12 {
			.image-container {
				min-height: 300px;
				position: relative;
				padding: 80px 40px;
			}
			.image-block-content {				
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;				
				
			}
			.image-block-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: black;
				opacity: .5;				
			}
		}
	}
}